@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat:wght@600;700&display=swap');


.timerpage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  background-color: white;
  background-image: url('src/pages/TimerPage/rm422-047.jpg');
}

h2 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 60px;
  font-weight: 700;
}
