.timerpage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  background-color: whitesmoke;
  /* background-image: url('src/pages/TimerPage/rm422-047.jpg'); */
  height: 90vh;
}

h2 {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
}
