#PlannerCalendar-container {
    margin: 50px;
}

#PlannerCalendar-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
}

#PlannerCalendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(150px, 1fr));
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

#PlannerCalendar .day {
    display: flex;
    flex-direction: column;
    border-left: 1px black solid;
    border-top: 1px black solid;
    min-width: 150px;
    height: 150px;
    padding: 10px;
}

#PlannerCalendar .dayname {
    text-align: center;
    border-left: 1px black solid;
    border-top: 1px black solid;
    min-width: 150px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

#PlannerCalendar .item {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 10px;
}

