#PlannerCalendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(150px, 1fr));
    grid-gap: 0;
    justify-items: stretch;
    justify-content: center;
    margin: 10px 50px;
}

#PlannerCalendar .day {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    min-width: 150px;
    min-height: 150px;
    padding: 10px;
}

#PlannerCalendar .dayname {
    text-align: center;
    border: 1px black solid;
    min-width: 150px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}