.timerpage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  background-color: #A4B494;
  height: 90vh;
}

h2 {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #34252F;
}
