@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat:wght@600;700&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 50px 10px;
  /* border: 1px solid #3B5249; */
  border-radius: 20px;
  width: 600px;
  margin-bottom: 30px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
}

.timer {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #34252F;
}

.dropdowns {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 28px;
  max-width: 80%;
}

select {
  padding: 2px 0px 2px 10px;
  font-size: 20px;
  border-radius: 8px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;  background-color: transparent;
  border: 1px solid #3B5249;
  color: #34252F;
  cursor: pointer;
}

select:hover,
select:focus {
  border: 0.5px inset #3B5249;
  background-color: #d5dbc9;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #A4B494;
}

select::-webkit-scrollbar-track {
  background-color: #BEC5AD;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons, 
.play-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.play-buttons button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1.5px solid #3B5249;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  border: 1.5px solid #3B5249;
  border-radius: 8px;
  background-color: transparent;
  color: #34252F;
  transition: background-color 0.3s ease;
  width: 100px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

.buttons button:hover {
  border: 0.5px inset #3B5249;
  background-color: #d5dbc9;
}

.play-buttons button:hover {
  border: 0.5px inset #3B5249;
  background-color: #d5dbc9;
}

.message {
  margin:0; 
  font-size: 50px;
  color: #424B54;
}
